boost/
controller/main
controller/*.o
.devcontainer/
.vscode/
lighttpd/
nginx/
package.json
package-lock.json
test.txt
node_modules/
controller/controller*
controller/objects/*
*.http
action-runtimes/python3/functions/__pycache__/